@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font--);
}
:root{
  --font--:'Quicksand', sans-serif ;
}


body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px;
  background-color:#1382C0;
}
form{
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center ;
  width: 500px;
  height: 400px;
  border-radius: 20px;
  background-color: white;
}

.title{
  font-size: 3rem;
  padding: 1rem;
}
select{
  width: 400px;
}

.rec_Time{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 100%;
  height: 100px;
}

.submit{
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  padding: 1rem 4rem;
  background: none;
  border: black 2px solid;
}

.submit:active{
  background-color: black;
  color: white;
}