<style>




  h1  {
    text-align: center; font-size: 80px; color: #91c7b1; font-family: DejaVu Sans Mono, monospace;
  }

  div.a {
    text-align: center;
  }

  img.a {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

  h2 {
    text-align: center; color: #91c7b1; font-size: 35px; font-family: Gill Sans, sans-serif;
  }

  h3 {
    text-align: center; color: #91c7b1; font-family: Gill Sans, sans-serif;
  }

  a {
    color: white; font-size: 20px
  }

  a:visited {
    color: white
  }

  a:hover {
    color: #e3d081
  }

  a:active {
    color: #e3d081
  }

  summary {
    color: #e3d081
  }

  p.b {
    text-align: center;
  }

  fieldset {
    text-align: center;
  }

  #Equations {
    text-align: center;
  }

  header {
    background-color: #1b4332; padding: 40px;
  }


  #add {
    border: 1px solid yellow;
    background-color: blue;
    margin-left: 20%;
    width: 300px;
    height: 150px;

  }


  #sub {
    border: 1px solid yellow;
    background-color: red;
    margin-left: 20%;
    width: 300px;
    height: 150px;


  }

  #mul {
    border: 1px solid yellow;
    background-color: green;
    margin-left: 20%;
    width: 300px;
    height: 150px;
  }

  #div {
    border: 1px solid yellow;
    background-color: orange;
    margin-left: 20%;
    width: 300px;
    height: 150px;
  }


  table, tr, th, td {
  border: 1px solid #91c7b1; border-collapse: collapse;
  text-align: center;
  }

  hr {
    border: 1px solid  #e3d081
  }

  #Contact {
    margin-left: 25%;
    width: 50%;
  }

  footer {background-color: #1b4332; padding: 25px}

  p.op {font-size: 12px;}


  h1 {
    text-align: center; font-size: 80px; color: #91c7b1; font-family: DejaVu Sans Mono, monospace;
  }



</style>
