@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
*{
  padding: 0 ;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --font--:'Quicksand', sans-serif ;
}

a{
  text-align: none;
  color: white;
}


body{
  background-color: rgb(0, 128, 255);
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font--);
}

.inTime_title{
  padding: 1rem;
  font-size: 2rem;
  margin-bottom: 50px;
}

.logo{
  width: 300px;
}

.time{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 90%;
  height: 350px;
}

#display{
  font-size: 3rem;
  margin-top: 40px;
}


.topLeft, .topMiddle, .topRight{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button{
  border-radius: 10px;
  cursor: pointer;
}
button:hover{
  background-color: black;
  color: white;
}

.btn, .btn2{
  cursor: pointer;
  font-size: 1.3rem;
  margin:40px;
  color: white;
  border: 2px solid black;
  background: none;
  padding: 1rem 3rem;
}

.bottom{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 90%;
  height: 350px;
}

.btm_left,.btm_right{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btm_middle{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start,.stop, .reset{
  font-size: 1.3rem;
  padding: 1rem 4rem;
  margin: 20px;
  color: white;
  border: 2px solid black;
  background: none;
}

.wdTitle, .btTitle{
  padding: 1rem;
  font-size: 1.4rem;
  background-color: black;
  color: white;
}

.controls{
  display: flex;
  justify-content: center;
  width: 400px;
  height: 200px;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

input{
  padding: 1rem;
}
.btn_div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.time{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.add, .subtract{
  padding: 1rem;
  font-size: 1.4rem;
}

.mobile_btns{
  display: none;
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .inTime_title{
      padding: 1rem;
      font-size: 1rem;
      margin-bottom: 50px;
    }
    .logo{
      width: 100px;
    }
    .top{
      height: 100px;
      width: 100%;
    }
    .topMiddle{
      margin-left: -400px;
    }
    .bottom{
      margin-top: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .btm_middle{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    #display{
      height: 100px;
    }
    .mobile_btns{
      display: flex;
    }
    .btn2{
      display: block;
      font-size: 1rem;
      padding: 1rem 2rem;
    }
    .mobile_btn_grid{
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
    .btn{
      display: none;
    }
    .start,.stop, .reset{
      font-size: 1rem;
      padding: 1rem;
    }
    .wdTitle, .btTitle{
      font-size: 1rem;
    }
    .controls{
      width: 100%;
      height: auto;
    }
    a{
      text-decoration: none;
      color: white;
    }
  }

