@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

:root {
  --first-color: #1382C0;
  --second-color: #F5A623;
  --white-color: #EDEDED;
  --body-font: 'Quicksand', sans-serif;
  --small-font-size: 0.875rem;
}
html{
  scroll-behavior: smooth;
}

/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*===== BASE =====*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 1rem 0 0 5rem;
  font-family: var(--body-font);
  background-color: var(--white-color);
  -webkit-transition: .5s;
  transition: .5s;
}

h1 {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/*=====  NAV =====*/
.l-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 168px;;
  height: 100vh;
  background-color: var(--first-color);
  padding: 1.25rem .5rem 2rem;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  padding: 0 .5rem;
}

.nav__logo-icon {
  margin-right: 1.2rem;
}

.nav__logo-text {
  color: var(--white-color);
  font-weight: 700;
}

.nav__toggle {
  position: absolute;
  top: 1.10rem;
  right: -.6rem;
  width: 18px;
  height: 18px;
  background-color: var(--second-color);
  border-radius: 50%;
  font-size: 1.25rem;
  color: var(--first-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  color: var(--white-color);
  -webkit-transition: .3s;
  transition: .3s;
}

.nav__link:hover {
  background-color: var(--second-color);
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.nav__text {
  font-weight: 700;
}



/* TEAM DASHBOARD */
#team{
  height: 800px;
  width: 100%;
  margin-bottom: 100px;
}

#time{
  height: 850px;
  width: 100%;
}


.contentsDiv{
 display: flex;
 flex-direction: column;
 align-items: center;
}

.contentsDiv > p{
  text-align: center;
  font-size: 1.3rem;
}

.dashTitle{
  font-size: 2rem;
  padding: 1rem;
  margin-bottom: 20px;
}

.chart{
  margin-top: 100px;
  width: 800px;
  height: 450px;
}

.timeChart{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}



/*Show menu*/
.show {
  width: 52px;
}

/*Rotate toggle*/
.rotate {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: .5s;
  transition: .5s;
}

/*Active links menu*/
.active {
  background-color: var(--second-color);
  color: var(--first-color);
}

/*Add padding body*/
.expander {
  padding: 1rem 0rem 0rem 5rem;
  -webkit-transition: .5s;
  transition: .5s;
}



@media screen and (min-width: 768px) {
  :root {
    --small-font-size: 0.938rem;
  }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .dashTitle{
      font-size: 1.4rem;
      margin-right: 30px;
    }
    .contentsDiv > p{
      font-size: 1rem;
      margin-right: 30px;
    }
    .chart{
      width: 95%;
      height: 250px;
      margin-right: 30px;
    }
    #team{
      height: 600px;
    }
    
    #time{
      height: 650px;
    }
  }